@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Rubik&display=swap");

:root {
  --radius: 0;
  --dark: #283e39;
  --mid: #7e9b94;
  --light: #cbf6ec;
  --shadow: rgb(from var(--dark) r g b / 0.8);

  overscroll-behavior: none;
  font: 16px "Knewave", system-ui, sans-serif;
  color: var(--dark);
}

:focus-visible {
  outline: 0.1rem solid var(--light);
  outline-offset: -0.1rem;
}

/* only use border radius if we can apply it during the transition too */
@supports (view-transition-group: contain) {
  :root {
    --radius: 0.75rem;
  }
}

::view-transition-group(container) {
  box-shadow: 0 0 2rem var(--shadow);
  border-radius: var(--radius);
  overflow: clip;
}

::view-transition-group(*) {
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
  overflow: clip;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100dvh;
  background: radial-gradient(var(--light), var(--dark));
}

.title {
  font-size: 2.5rem;
  margin: 0;
  text-wrap-style: balance;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  text-wrap-style: balance;
  text-align: center;
  opacity: 0.75;
}

video {
  width: min(90dvw, 1000px);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#container {
  --columns: 2;
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), 0fr);
  gap: 0.1rem;
  margin: 2rem 0;
  background: var(--mid);
  box-shadow: 0 0 3rem var(--shadow);
  border-radius: var(--radius);
  overflow: clip;
  view-transition-name: container;
  view-transition-group: contain;
}

canvas {
  view-transition-name: match-element;
  cursor: not-allowed;
  &.active {
    cursor: pointer;
  }
}

dialog {
  background: var(--mid);
  color: var(--dark);
  box-shadow: 0 0 3rem var(--shadow);
  border: none;
  border-radius: var(--radius);
  place-items: center;
  padding: 2rem;
  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
}
dialog::backdrop {
  background: var(--mid);
  opacity: 0.8;
}

button {
  background: inherit;
  border: none;
  color: inherit;
  font: inherit;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1rem var(--shadow);
  cursor: pointer;

  &:hover {
    background: var(--dark);
    color: var(--mid);
  }
}
