@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Rubik&display=swap");

:root {
  --radius: 0.75rem;
  --radius-video: 0;
  --dark: #283e39;
  --mid: #7e9b94;
  --light: #cbf6ec;
  --shadow: rgb(from var(--dark) r g b / 0.8);

  background: #7e9b94;
  accent-color: var(--dark);
  overscroll-behavior: none;
  font: 16px "Knewave", system-ui, sans-serif;
  color: var(--dark);
  &:has(dialog[open]) {
    overflow: hidden;
  }
}

/* only use border radius if we can apply it during the transition too */
@supports (view-transition-group: contain) {
  :root {
    --radius-video: 0.75rem;
  }
}

:focus-visible {
  outline: 0.1rem solid var(--light);
  outline-offset: -0.1rem;
}

::view-transition-group(container) {
  box-shadow: 0 0 3rem var(--shadow);
  border-radius: var(--radius-video);
  overflow: clip;
}

::view-transition-group(*) {
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
  overflow: clip;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  min-height: 100dvh;
  background: radial-gradient(var(--light), var(--dark));
  > *:not(dialog, #container) {
    width: min(90dvw, 1000px);
  }
}

.title {
  font-size: 2.5rem;
  margin: 0;
  text-wrap-style: balance;
  text-align: center;
  line-height: 1;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  text-wrap-style: balance;
  text-align: center;
  opacity: 0.75;
}

video {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#container {
  --columns: 2;
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), 0fr);
  gap: 0.1rem;
  background: var(--mid);
  box-shadow: 0 0 3rem var(--shadow);
  border-radius: var(--radius-video);
  overflow: clip;
  view-transition-name: container;
  view-transition-group: contain;
}

canvas {
  view-transition-name: match-element;
  z-index: 1;
  cursor: not-allowed;
  &.active {
    cursor: pointer;
  }
  &.empty {
    z-index: 0;
    opacity: 0.15;
  }
}

#controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  button {
    min-width: 6rem;
  }
  #timer {
    flex: 1 0 auto;
    text-align: end;
    font-size: 1.6rem;
    font-variant-numeric: tabular-nums;
  }
  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    #timer {
      order: -1;
      text-align: center;
      margin-top: -1rem;
    }
    > * {
      flex: 1 0 100%;
    }
  }
}

dialog {
  &[open] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  overscroll-behavior: contain;
  background: var(--mid);
  color: var(--dark);
  box-shadow: 0 0 3rem var(--shadow);
  border: none;
  border-radius: var(--radius);
  place-items: center;
  padding: 2rem;
  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
}
dialog::backdrop {
  background: var(--mid);
  opacity: 0.8;
}

button {
  background: inherit;
  border: none;
  color: inherit;
  font: inherit;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1rem var(--shadow);
  cursor: pointer;
  &:hover {
    background: var(--dark);
    color: var(--mid);
  }
}

.settings-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 1rem;
  margin-top: 1rem;
  label {
    justify-self: start;
    align-self: center;
  }
  .step-select {
    display: flex;
    border-radius: var(--radius);
    box-shadow: 0 0 1rem var(--shadow);
    overflow: hidden;
    select {
      appearance: none;
      appearance: base-select;
      flex: 1 0 auto;
      background: none;
      font-family: inherit;
      color: inherit;
      font-size: 1.5rem;
      border: none;
      border-radius: 0;
      justify-content: center;
      align-items: center;
      padding: 0;
      min-width: 13rem;
      &::picker-icon {
        display: none;
      }
    }
    button {
      flex: 0 0 auto;
      box-shadow: none;
      border-radius: 0;
      padding: 0 0.5rem;
      font-size: 2.2rem;
      line-height: 1;
      &.prev {
        border-radius: var(--radius) 0 0 var(--radius);
      }
      &.next {
        border-radius: 0 var(--radius) var(--radius) 0;
      }
    }
  }
  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 0;
    label {
      margin-top: 0.5rem;
    }
  }
}
