:root {
  overscroll-behavior: none;
}

/* only use border radius if we can apply it during the transition too */
@supports (view-transition-group: contain) {
  :root {
    --radius: 0.5rem;
  }
}

::view-transition-group(container) {
  border-radius: var(--radius);
  overflow: clip;
}

::view-transition-group(*) {
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.55, 0, 1, 0.45);
  overflow: clip;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100dvh;
  background: #222;
}

video {
  width: 800px;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#container {
  --columns: 2;
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), 0fr);
  gap: 0.2rem;
  border-radius: var(--radius);
  overflow: clip;
  view-transition-name: container;
  view-transition-group: contain;
}

canvas {
  view-transition-name: match-element;
}
